# Зависимости
node_modules/

# Конфигурационные файлы и логи
package-lock.json
*.log

# IDE и системные файлы
.vscode/
.DS_Store
Thumbs.db

# Дополнительные временные файлы
index.html
script.js
*.tmp
*.swp
